/*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:
Light: 300
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line Heights:
Default: 1
Small: 1.4
Medium: 1.6
Paragraph Default: 1.4

- Letter Spacing:
0.8px
1px
1.4px

--- 02 COLORS
- Primary: #38d9a9

- Tints: 
- Shades: 
#32c398
#2dae87
- Accents:
#fd7e14
#228be6
#fcc419
- Greys: 
#f1f3f5
#bbb
#555
#444
#343a40
#212529
#070808



--- 05 SHADOWS

--- 06 BORDER-RADIUS
Default: 8px
Medium: 12px

--- 07 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #f1f3f5;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #000 20%, #040e0b);
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
  /* border-bottom: 1px solid #f1f3f5; */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.heading-primary {
  margin-bottom: 2.4rem;
  font-size: 8.6rem;
  font-weight: 400;
}

.heading-secondary {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #38d9a9;
  letter-spacing: 1.4px;
  filter: drop-shadow(0 2px 3px rgba(56, 217, 169, 0.2));
}

.subheading {
  margin-bottom: 3.6rem;
  line-height: 1;
  font-size: 6.4rem;
  color: #f1f3f5;
}

p {
  font-size: 2.4rem;
  color: #f1f3f5;
}

strong {
  font-weight: 600;
}

.container {
  padding: 0 3.2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.btn-contact,
.btn:link,
.btn:visited {
  background-color: inherit;
  border: 2px solid #38d9a9;
  text-decoration: none;
  color: #38d9a9;
  border-radius: 4px;
  /* color: #070808; */
  font-size: 2.2rem;
  font-weight: 500;
  background: linear-gradient(to left, #38d9a9 50%, transparent 50%);
  box-shadow: 0 3px 10px rgba(56, 217, 169, 0.2);
  background-size: 250% 150%;
  background-position: left bottom;
  transition: all 0.7s ease-out;
}

.btn:hover,
.btn:active,
.btn-contact:hover {
  background-position: right bottom;
  color: #070808;
  cursor: pointer;
}

.btn-contact {
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
}

.container-small {
  padding: 0 3.2rem;
  max-width: 100rem;
  margin: 0 auto;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6.4rem;
}

.grid-5-cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-5-cols-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4.8rem;
  row-gap: 6.4rem;
}

.center {
  align-items: center;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-heading {
  display: flex;
  justify-content: center;
}

.heading-color {
  color: #212529;
}

hr {
  margin: auto;
  width: 85%;
  border: none;
  height: 1px;
  background-color: #32c398;
}

.is-hidden {
  display: none;
}
.portfolio-img-phone {
  display: none;
}
