/*************************/
/* BELOW 1344px (Smaller Desktops) */
/*************************/

@media (max-width: 84em) {
  .hero {
    max-width: 110rem;
  }
  .heading-primary {
    font-size: 7.4rem;
  }
}

/*************************/
/* BELOW 1200px (Landscape Tablets) */
/*************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 110rem;
  }

  .section-portfolio {
    height: 75vh;
  }
}

/*************************/
/* BELOW 944px (Tablets) */
/*************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;
    gap: 9.6rem;
  }

  .personal-image {
    width: 85%;
    margin: 0 auto;
  }

  .about-text-box {
    text-align: center;
  }

  .grid-5-cols {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .skill-icon {
    font-size: 3.6rem;
  }

  .skill-name {
    font-size: 2rem;
  }

  .contact-text-box {
    text-align: center;
  }
  .info-list {
    flex-direction: row;
    gap: 3.6rem;
  }

  .list-item {
    gap: 1rem;
  }

  .container {
    max-width: 100rem;
  }

  .button-container button {
    padding: 1.6rem;
    font-size: 2rem;
    display: block;
    width: 100%;
  }

  .contact-form label {
    font-size: 2.4rem;
  }

  .contact-form input {
    font-size: 2rem;
  }

  .about-description,
  .contact-text {
    line-height: 1.6;
  }
}

/*************************/
/* BELOW 704px (Smaller Tablets) */
/*************************/
@media (max-width: 44em) {
  .hero {
    padding: 0;
  }
  .container-small {
    max-width: 80rem;
  }

  .section-hero,
  .section-about,
  .section-cta,
  .section-contact {
    padding: 12.8rem 3.6rem;
  }

  .section-portfolio {
    height: auto;
  }
  .hero {
    grid-template-columns: 1fr;
  }

  .portfolio-card {
    grid-template-columns: 1fr;
  }

  .portfolio-img {
    width: 75%;
    margin: 0 auto;
  }

  .logo {
    display: none;
  }

  .main-nav {
    display: none;
  }
}

/*************************/
/* BELOW 544px (Phones) */
/*************************/
@media (max-width: 34em) {
  html {
    font-size: 42%;
  }
  .info-list {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }

  .contact-text {
    margin-bottom: 1.8rem;
    /* font-size: 2rem; */
  }

  .info-list {
    margin-top: 2.4rem;
  }

  .section-cta {
    padding: 4.8rem 3.6rem;
  }

  .section-footer {
    padding: 4.8rem 3.6rem;
  }

  .portfolio-card {
    padding: 0;
  }

  .container-small {
    padding: 0 4.8rem;
  }

  .container {
    padding: 0;
  }

  .contact-form {
    padding: 0 0.8rem;
  }

  .footer-nav-list {
    gap: 2.4rem;
  }

  .portfolio-img {
    display: none;
  }

  .portfolio-img-phone {
    display: block;
    overflow: hidden;
    width: 100%;
    filter: brightness(75%);
  }

  .carousel__button {
    box-shadow: none;
  }
  .portfolio-text-box {
    padding: 0 3.6rem 3.6rem 3.6rem;
  }

  .portfolio-text {
    font-size: 2rem;
  }

  .personal-image {
    width: 100%;
  }
}
