/*************************/
/* BELOW 1344px (Smaller Desktops) */
/*************************/

@media (max-width: 84em) {
  .hero {
    max-width: 110rem;
  }
  .heading-primary {
    font-size: 7.4rem;
  }
}

/*************************/
/* BELOW 1200px (Landscape Tablets) */
/*************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 110rem;
  }

  .section-portfolio {
    height: 75vh;
  }
}

/*************************/
/* BELOW 944px (Tablets) */
/*************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;
    gap: 9.6rem;
  }

  .personal-image {
    width: 85%;
    margin: 0 auto;
  }

  .about-text-box {
    text-align: center;
  }

  .grid-5-cols {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .skill-icon {
    font-size: 3.6rem;
  }

  .skill-name {
    font-size: 2rem;
  }

  .contact-text-box {
    text-align: center;
  }
  .info-list {
    flex-direction: row;
    gap: 3.6rem;
  }

  .list-item {
    gap: 1rem;
  }

  .container {
    max-width: 100rem;
  }

  .button-container button {
    padding: 1.6rem;
    font-size: 2rem;
    display: block;
    width: 100%;
  }

  .contact-form label {
    font-size: 2.4rem;
  }

  .contact-form input {
    font-size: 2rem;
  }

  .about-description,
  .contact-text {
    line-height: 1.6;
  }
}

/*************************/
/* BELOW 704px (Smaller Tablets) */
/*************************/
@media (max-width: 44em) {
  .hero {
    padding: 0;
  }
  .container-small {
    max-width: 80rem;
  }

  .section-hero,
  .section-about,
  .section-cta,
  .section-contact {
    padding: 12.8rem 3.6rem;
  }

  .section-portfolio {
    height: auto;
  }
  .hero {
    grid-template-columns: 1fr;
  }

  .portfolio-card {
    grid-template-columns: 1fr;
  }

  .portfolio-img {
    width: 75%;
    margin: 0 auto;
  }

  .logo {
    height: 4.8rem;
    width: 4.8rem;
  }

  .main-nav {
    display: none;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(7, 8, 8, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    z-index: 100;
    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 100;
  }

  .main-nav-list {
    text-align: center;
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-list a:link,
  .main-nav-list a:visited {
    font-size: 4.8rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/*************************/
/* BELOW 544px (Phones) */
/*************************/
@media (max-width: 34em) {
  html {
    font-size: 42%;
  }
  .info-list {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }

  .contact-text {
    margin-bottom: 1.8rem;
    /* font-size: 2rem; */
  }

  .info-list {
    margin-top: 2.4rem;
  }

  .section-cta {
    padding: 4.8rem 3.6rem;
  }

  .section-footer {
    padding: 4.8rem 3.6rem;
  }

  .portfolio-card {
    padding: 0;
  }

  .container-small {
    padding: 0 4.8rem;
  }

  .container {
    padding: 0;
  }

  .contact-form {
    padding: 0 0.8rem;
  }

  .footer-nav-list {
    gap: 2.4rem;
  }

  .portfolio-img {
    display: none;
  }

  .portfolio-img-phone {
    display: block;
    overflow: hidden;
    width: 100%;
    filter: brightness(75%);
  }

  .carousel__button {
    box-shadow: none;
  }
  .portfolio-text-box {
    padding: 0 3.6rem 3.6rem 3.6rem;
  }

  .portfolio-text {
    font-size: 2rem;
  }

  .personal-image {
    width: 100%;
  }
}
