/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    transition: all 0.15s;
    border: 1px solid transparent;
}

html,
body {
    width: 100%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #0b0c10;
}

h1 {
    font-size: 62px;
    color: #F7F7FF;
    margin-bottom: 24px;
}

h2 {
    color: #F7F7FF;
    font-size: 44px;
    margin-bottom: 24px;
}

h4 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #F7F7FF;
    margin-bottom: 20px;
}

p {
    line-height: 1.8;
    font-size: 18px;
    color: #F7F7FF;
}

li {
    display: inline-block;
}

ul {
    text-align: center;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #66fcf1 #0b0c10;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #0b0c10;
}

*::-webkit-scrollbar-thumb {
    background-color: #66fcf1;
    border-radius: 7px;
}

/* -------------------------------------------------------- */

/* ANIMATION */
.bubbles {
    position: absolute;
    display: flex;
    z-index: -100;
    width: 98%;
    margin: auto 0;
}

.bubbles span {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #F7F7FF44;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #F7F7FF44,
        0 0 50px #F7F7FF,
        0 0 100px #F7F7FF;
    animation: animate 15s linear infinite;
    animation-duration: calc(175s / var(--i));
    opacity: 18%;

}


@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

/* -------------------------------------------------------- */


/* NAVIGATION */
.home-nav {
    font-size: 40px;
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 999;
}

.home-nav a {
    color: #45a29e
}

.home-nav a:hover {
    color: #66fcf1
}

.topnav {
    align-items: center;
    margin-top: 16px;
    display: flex;
    padding-bottom: 6px;
    justify-content: space-between;
}

.topnav div {
    margin: 0 auto;
}

.topnav ul {
    margin-bottom: 20px;
    padding-top: 30px;
}

.topnav a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-weight: bold;
    color: #45a29e;
    margin-right: 46px;
}

.topnav p {
    margin-right: 46px;
}

.topnav a:hover {
    color: #66fcf1;
}


.social-links {
    display: inline-block;
    margin-left: 35px;
    position: absolute;
    bottom: 5%;
    font-size: 25px;
}

.social-links a {
    padding-right: 15px;
    color: #45a29e;
}

.social-links a:hover {
    color: #66fcf1;
}


/* -------------------------------------------------------- */

/* PAGE 1 */
.page1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /* background-image: url(img/drew-beamer-kUHfMW8awpE-unsplash.jpg); */
}

.page1section {
    position: absolute;
    top: 50%;
    margin-left: 15%;
    transform: translateY(-50%);
}

.page1-grid {
    gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.page1::after {
    color: #c5c6c7;
    content: "Scroll Down \2192";
    font-size: 24px;
    letter-spacing: 2px;
    writing-mode: vertical-rl;
    position: absolute;
    bottom: 50px;
    right: 75px;
}

.logo-div {
    margin-left: 20px;
}

.logo {
    align-self: center;
    justify-self: flex-start;
    width: 60px;
    height: 60px;
    filter: invert(83%) sepia(93%) saturate(1753%) hue-rotate(180deg) brightness(112%) contrast(104%);
}

.hello {
    font-size: 15px;
    color: #F7F7FF;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.name-span {
    color: #66fcf1;
}

.description {
    color: #c5c6c7;
    margin-bottom: 64px;
}

button {
    background-color: #0b0c10;
    color: #F7F7FF;
    cursor: pointer;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px #66fcf1 solid;
}

button:hover {
    box-shadow: 0 2px 6px #66fcf1;
    transform: translateY(-4px);
    color: #66fcf1;
    border: #F7F7FF 2px solid;
}

/* -------------------------------------------------------- */

/* PAGE 2 */
.page2 {
    height: 100vh;
    background-color: #1f2833;

}

.container {
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.about-me-paragraph {
    width: 75%;
    color: #c5c6c7;
}

.about-me-description p {
    margin-bottom: 40px;
}

.about-me-description p:last-child {
    margin-bottom: 40px;
}

.about-me-header {
    color: #66fcf1;
}

.Contact-Button {
    display: inline-block;
    font-size: 13.33px;
    text-decoration: none;
    background-color: #1f2833;
    color: #c5c6c7;
    cursor: pointer;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px #66fcf1 solid;
    box-sizing: border-box;
}

.Contact-Button:hover {
    color: #66fcf1;
    border: #c5c6c7 3px solid;
    box-shadow: 0 2px 6px #66fcf1;
    transform: translateY(-4px);
}

.profile {
    display: block;
    margin-left: 40%;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    filter: drop-shadow(0 0 0.75rem #F7F7FF);
    filter: grayscale(60%);
}

/* -------------------------------------------------------- */

/* PAGE 3 */
.page3 {
    height: 200vh;
    border: none;
    position: relative;
}

.page3section {
    text-align: center;
}

.skills {
    margin-top: 100px;
    color: #66fcf1;
    text-align: center;
    margin-bottom: 12px;
}

.skill-box h4 {
    color: #0b0c10;
}

.skill-intro {
    color: #c5c6c7;
    margin: 0 auto;
    width: 33%;
    text-align: center;
    margin-bottom: 64px;
}

.skill-box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    justify-items: center;
    margin: 0 auto;
    gap: 48px;
}

.skill-box {
    border-radius: 20px;
    transition: top ease 0.5s;
    height: 300px;
    width: 400px;
    background-color: #c5c6c7;
    border: 3px solid #F7F7FF;
}


.skill-box:hover {
    box-shadow: none;
    top: -15px;
    background-color: #F7F7FF;
    border: 3px solid transparent;
    box-shadow: #45a29e86 0px 5px 8px, #45a29e86 0px 5px 8px;
    transform: translateY(-5px);
}

.skill-box:hover h4 {
    color: #45a29e;
}

.skill-box:hover p {
    color: #0b0c10;
}

.icon {
    font-size: 50px;
    padding-top: 24px;
}

.html5 {
    color: #F7F7FF;
}

.css3 {
    color: #F7F7FF;
}

.oop {
    color: #F7F7FF;
}

.skill-described {
    color: #1f2833;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    font-size: 16px;
}

/* PAGE 4 */
.page4 {

    height: 115vh;
    position: relative;
    background-color: #1f2833;
}

.page4section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page4::before {
    position: absolute;
    content: "Recent Projects";
    font-weight: 600;
    color: #66fcf1;
    font-size: 62px;

    top: -100px;
    left: 32px;
    margin-bottom: 0px;
}

.project-title {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 48px;
    color: #66fcf1;
}

.project-grid {
    margin: 0 auto;
    max-width: 1400px;
    gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid1 {
    grid-column: span 2;
}

.grid2 {
    position: relative;
    grid-row: span 2;
}

.grid2,
.grid3,
.grid4 {
    padding: 24px;
}

.grid1,
.grid2,
.grid3,
.grid4 {
    box-sizing: border-box;
    position: relative;
    background-color: #0b0c10;
    border-radius: 20px;
    box-shadow: 0 5px 16px #232428;
}


.project-header {
    font-size: 24px;
    color: #F7F7FF;
    width: 100%;
    padding-bottom: 8px;
    width: 70%;
}

.project-paragraph {
    color: #c5c6c7;
    font-size: 18px;
}

.development-tools li {
    display: block;
    margin-bottom: 8px;
}

.development-tools span {
    color: #c5c6c7;
    line-height: 1.8;
    margin-left: 8px;
}

.development-tools {
    font-size: 18px;
    color: #66fcf1;
    display: inline-block;
    text-align: left;
}


.project-grid .project-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view-project-button {
    letter-spacing: 1.7px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    background-color: #0c0d11;
    box-shadow: 0 -5px 10px #07070a;
    color: #F7F7FF;
    cursor: pointer;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid transparent;

}

.view-project-button:hover {
    box-shadow: 0 2px 6px #66fcf1;
    transform: translateY(-4px);
    color: #66fcf1;
    border: 2px solid #F7F7FF;
}

/* -------------------------------------------------------- */


/* PAGE 4 PART 2 */
.page4-part2 {

    height: 115vh;
    position: relative;
    background-color: #0b0c10;
}

.page4-part2 .grid1,
.page4-part2 .grid2,
.page4-part2 .grid3,
.page4-part2 .grid4 {
    background-color: #FDF2E9;
    box-shadow: 0 5px 16px #07070a;
}

.page4-part2 .grid1 {
    grid-column-start: 2;
    grid-column-end: 4;
}


.page4-part2 .grid2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.page4-part2 .project-title {
    text-align: end;
    color: #e67e22;
}

.page4-part2 .project-header {
    color: #0b0c10;
}

.page4-part2 .project-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page4-part2 .view-project-button {
    width: 100%;
    color: #0b0c10;
    background-color: #f8f0ea;
    box-shadow: 0 -3px 8px #858688;
    border: 2px solid transparent;
}

.page4-part2 .view-project-button:hover {
    box-shadow: 0px 15px 10px -15px #e67e22;
    transform: translateY(-4px);
    color: #e67e22;
    border: 2px solid #F7F7FF;
}

.page4-part2 .project-paragraph,
.page4-part2 .development-tools span {
    color: #0b0c10;
}

.page4-part2 .development-tools {
    color: #e67e22;
}

/* -------------------------------------------------------- */


/* PAGE 4 PART 3 */
.page4-part3 {

    height: 115vh;
    position: relative;
    background-color: #1f2833;
}

.page4-part3 .grid1,
.page4-part3 .grid2,
.page4-part3 .grid3,
.page4-part3 .grid4 {
    background-color: #0b0c10;
    box-shadow: 0 5px 16px #232428;
}



.page4-part3 .project-title {
    color: #66fcf1;
}

.page4-part3 .project-header {
    color: #F7F7FF;
}

.page4-part3 .project-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.page4-part3 .view-project-button {
    width: 100%;
    color: #F7F7FF;
    background-color: #0b0c10;
    box-shadow: 0 -5px 10px #07070a;
    border: 2px solid transparent;
}

.page4-part3 .view-project-button:hover {
    box-shadow: 0 2px 6px #66fcf1;
    transform: translateY(-4px);
    color: #66fcf1;
    border: 2px solid #F7F7FF;
}

.page4-part3 .project-paragraph,
.page4-part3 .development-tools span {
    color: #F7F7FF;
}

.page4-part3 .development-tools {
    color: #66fcf1;
}

/* -------------------------------------------------------- */
/* PAGE 5 */
.page5 {
    height: 100vh;
}

.page5 strong {
    color: #66fcf1;
}

.page5 p {
    color: #F7F7FF;
}

.left-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.left-text p {
    font-size: 25px;
}

.info {
    margin: 0 auto;
    margin-top: -150px;
    font-size: 20px;
}

.info p {
    color: #c5c6c7;
    font-size: 20px;
}

form {
    margin-top: 50px;
    background-color: #F7F7FF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 150px 60px;
    max-width: 420px;
    margin-left: 20px;
}

.bottom-social {
    margin-top: 20px;
    display: inline-block;
    margin-left: 35px;
    font-size: 24px;
}

.bottom-social a {
    padding-right: 15px;
    color: #45a29e;
}

.bottom-social a:hover {
    color: #66fcf1;
}

.feedback-input {
    color: #0b0c10;
    font-size: 19px;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid #0b0c10;
    background-color: transparent;
    transition: all 0.3s;
    padding: 13px;
    padding-left: 0px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

textarea {
    height: 150px;
    width: 100%;
    line-height: 150%;
    resize: none;
}

[type="submit"] {
    width: 33%;
    margin-left: 75%;
    background: #0b0c10;
    border: 0;
    cursor: pointer;
    color: #F7F7FF;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 12px 0;
    transition: all 0.3s;
    margin-top: 7px;
    font-weight: 700;
}

[type="submit"]:hover {
    background-color: #F7F7FF;
    color: #0b0c10;
}

.contact-container {
    padding-top: 50px;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

/* -------------------------------------------------------- */

/* FOOTER */
footer {
    border-top: 3px double #F7F7FF;
    background-color: #F7F7FF;
    height: 30px;
    padding: 30px 0;
    border-bottom: 5px solid #0b0c10;
}

footer p {
    text-align: center;
    color: #0b0c10;
}

/* -------------------------------------------------------- */

/* MEDIA */
@media (max-width: 1700px) {
    .bubbles {
        display: none;
    }
}

@media (max-width: 1600px) {
    .circle {
        display: none;
    }
}

@media (max-width: 600px) {


    .bubbles {
        display: none;
    }

    .page2 .profile {
        display: none;
    }

    .page3 {
        height: 400vh;
    }

    .page3 p {
        width: 100%;
    }

    .skill-box {
        width: fit-content;
    }

    .skill-box-grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        row-gap: 24px;
    }


    .personal-website {
        text-align: center;
    }

    .icon {
        display: none;
    }

    .skill-box h4 {
        margin-top: 10px;
    }

    .page4::before {
        display: none;
    }


    .project-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
    }



    .project-grid .grid1 {
        display: none;
    }


    .contact-container {
        grid-template-columns: 1fr;
    }

    .container {

        display: flex;
        justify-content: center;
    }

    footer {
        display: none;
    }

    .info {
        margin: 0;

    }

    .form {
        margin-bottom: 20px;
    }
}

/* -------------------------------------------------------- */